# Ejercicios Pair Programming - Modulo 2 - Sprint 2 
## Lección 4 - ETL IV: Carga I, Creación BBDD e inserción de datos
### Ana Gonzalez y Sonia Ruiz

Es el momento de meter todos nuestros datos en SQL 💪🏽!!! En este ejercicio nos crearemos dos tablas en una BBDD creada por nosotras. Una de las tablas contendrá la información que obtuvimos de los ejercicios de pair programming de Limpieza, es decir, el data set de ataques de tiburones limpito. La segunda tabla tendrá la información obtenida en el ejercicio de pair de ETL 1.

📌 **Nota** Todo lo tendremos que hacer desde jupyter notebook

1. Cread la BBDD con el nombre de tiburones.

In [9]:
import pandas as pd
import numpy as np
import mysql.connector
from mysql.connector import errorcode

In [14]:
try:
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1')
    print('te has conectado')
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR or err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Something is wrong with your user name or password or data base does not exist please confirm your data access")
    else:
        print(err)
mycursor=cnx.cursor()
try:
    mycursor.execute('CREATE DATABASE IF NOT EXISTS `tiburones`')
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

cnx.close()

te has conectado
CMySQLCursor: CREATE DATABASE IF NOT EXISTS `tiburones..

2. Cread las tablas de la BBDD:
    - Tabla ataques
    - Tabla clima

In [15]:
df_ataques=pd.read_pickle('files/df_ataques_paises.pkl')
df_ataques.columns

Index(['year', 'type', 'country', 'age', 'species_', 'fecha_limpia', 'fatal',
       'sex', 'latitud', 'longitud', 'country2', 'fatal_N', 'fatal_Unknown',
       'fatal_Y', 'fatal_N.1', 'fatal_Unknown.1', 'fatal_Y.1', 'species_.1',
       'fecha_limpia.1', 'type.1', 'age_NORM'],
      dtype='object')

In [18]:
df_ataques.head(3)

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,...,fatal_N,fatal_Unknown,fatal_Y,fatal_N.1,fatal_Unknown.1,fatal_Y.1,species_.1,fecha_limpia.1,type.1,age_NORM
0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.78373,-100.445882,...,1,0,0,1,0,0,4,7,1,9.116327
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,39.78373,-100.445882,...,1,0,0,1,0,0,3,7,7,3.804860
2,2018,Invalid,usa,48.0,Unespecific,Jun,N,M,39.78373,-100.445882,...,1,0,0,1,0,0,3,7,3,8.403629

In [16]:
df_clima=pd.read_pickle('files/df_clima3_paises.pkl')
df_clima.columns

Index(['country',
       'wind_spe_0    950mb\n0    950mb\n0    950mb\n0    950mb\n0    950mb\nName: layer, dtype: object',
       'wind_spe_0    900mb\n0    900mb\n0    900mb\n0    900mb\n0    900mb\nName: layer, dtype: object',
       'wind_spe_0    850mb\n0    850mb\n0    850mb\n0    850mb\n0    850mb\nName: layer, dtype: object',
       'wind_spe_0    800mb\n0    800mb\n0    800mb\n0    800mb\n0    800mb\nName: layer, dtype: object',
       'wind_spe_0    750mb\n0    750mb\n0    750mb\n0    750mb\n0    750mb\nName: layer, dtype: object',
       'wind_spe_0    700mb\n0    700mb\n0    700mb\n0    700mb\n0    700mb\nName: layer, dtype: object',
       'wind_spe_0    650mb\n0    650mb\n0    650mb\n0    650mb\n0    650mb\nName: layer, dtype: object',
       'wind_spe_0    600mb\n0    600mb\n0    600mb\n0    600mb\n0    600mb\nName: layer, dtype: object',
       'wind_spe_0    550mb\n0    550mb\n0    550mb\n0    550mb\n0    550mb\nName: layer, dtype: object',
       'wind_spe_0    500mb\n0    500mb\n0    500mb\n0    500mb\n0    500mb\nName: layer, dtype: object',
       'wind_spe_0    450mb\n0    450mb\n0    450mb\n0    450mb\n0    450mb\nName: layer, dtype: object',
       'wind_spe_0    400mb\n0    400mb\n0    400mb\n0    400mb\n0    400mb\nName: layer, dtype: object',
       'wind_spe_0    350mb\n0    350mb\n0    350mb\n0    350mb\n0    350mb\nName: layer, dtype: object',
       'wind_spe_0    300mb\n0    300mb\n0    300mb\n0    300mb\n0    300mb\nName: layer, dtype: object',
       'wind_spe_0    250mb\n0    250mb\n0    250mb\n0    250mb\n0    250mb\nName: layer, dtype: object',
       'wind_spe_0    200mb\n0    200mb\n0    200mb\n0    200mb\n0    200mb\nName: layer, dtype: object',
       'wind_dir_0    200mb\n0    200mb\n0    200mb\n0    200mb\n0    200mb\nName: layer, dtype: object',
       'wind_dir_0    250mb\n0    250mb\n0    250mb\n0    250mb\n0    250mb\nName: layer, dtype: object',
       'wind_dir_0    300mb\n0    300mb\n0    300mb\n0    300mb\n0    300mb\nName: layer, dtype: object',
       'wind_dir_0    350mb\n0    350mb\n0    350mb\n0    350mb\n0    350mb\nName: layer, dtype: object',
       'wind_dir_0    400mb\n0    400mb\n0    400mb\n0    400mb\n0    400mb\nName: layer, dtype: object',
       'wind_dir_0    450mb\n0    450mb\n0    450mb\n0    450mb\n0    450mb\nName: layer, dtype: object',
       'wind_dir_0    500mb\n0    500mb\n0    500mb\n0    500mb\n0    500mb\nName: layer, dtype: object',
       'wind_dir_0    550mb\n0    550mb\n0    550mb\n0    550mb\n0    550mb\nName: layer, dtype: object',
       'wind_dir_0    600mb\n0    600mb\n0    600mb\n0    600mb\n0    600mb\nName: layer, dtype: object',
       'wind_dir_0    650mb\n0    650mb\n0    650mb\n0    650mb\n0    650mb\nName: layer, dtype: object',
       'wind_dir_0    700mb\n0    700mb\n0    700mb\n0    700mb\n0    700mb\nName: layer, dtype: object',
       'wind_dir_0    750mb\n0    750mb\n0    750mb\n0    750mb\n0    750mb\nName: layer, dtype: object',
       'wind_dir_0    800mb\n0    800mb\n0    800mb\n0    800mb\n0    800mb\nName: layer, dtype: object',
       'wind_dir_0    850mb\n0    850mb\n0    850mb\n0    850mb\n0    850mb\nName: layer, dtype: object',
       'wind_dir_0    900mb\n0    900mb\n0    900mb\n0    900mb\n0    900mb\nName: layer, dtype: object',
       'wind_dir_0    950mb\n0    950mb\n0    950mb\n0    950mb\n0    950mb\nName: layer, dtype: object',
       'rh_0    950mb\n0    950mb\n0    950mb\n0    950mb\n0    950mb\nName: layer, dtype: object',
       'rh_0    900mb\n0    900mb\n0    900mb\n0    900mb\n0    900mb\nName: layer, dtype: object',
       'rh_0    850mb\n0    850mb\n0    850mb\n0    850mb\n0    850mb\nName: layer, dtype: object',
       'rh_0    800mb\n0    800mb\n0    800mb\n0    800mb\n0    800mb\nName: layer, dtype: object',
       'rh_0    750mb\n0    750mb\n0    750mb\n0    750mb\n0    750mb\nName: layer, dtype: object',
       'rh_0    700mb\n0    700mb\n0    700mb\n0    700mb\n0    700mb\nName: layer, dtype: object',
       'rh_0    650mb\n0    650mb\n0    650mb\n0    650mb\n0    650mb\nName: layer, dtype: object',
       'rh_0    600mb\n0    600mb\n0    600mb\n0    600mb\n0    600mb\nName: layer, dtype: object',
       'rh_0    550mb\n0    550mb\n0    550mb\n0    550mb\n0    550mb\nName: layer, dtype: object',
       'rh_0    500mb\n0    500mb\n0    500mb\n0    500mb\n0    500mb\nName: layer, dtype: object',
       'rh_0    450mb\n0    450mb\n0    450mb\n0    450mb\n0    450mb\nName: layer, dtype: object',
       'rh_0    400mb\n0    400mb\n0    400mb\n0    400mb\n0    400mb\nName: layer, dtype: object',
       'rh_0    350mb\n0    350mb\n0    350mb\n0    350mb\n0    350mb\nName: layer, dtype: object',
       'rh_0    300mb\n0    300mb\n0    300mb\n0    300mb\n0    300mb\nName: layer, dtype: object',
       'rh_0    250mb\n0    250mb\n0    250mb\n0    250mb\n0    250mb\nName: layer, dtype: object',
       'rh_0    200mb\n0    200mb\n0    200mb\n0    200mb\n0    200mb\nName: layer, dtype: object',
       'timepoint', 'cloudcover', 'highcloud', 'midcloud', 'lowcloud',
       'temp2m', 'lifted_index', 'rh2m', 'msl_pressure', 'prec_amount',
       'snow_depth', 'wind10m.speed'],
      dtype='object')

In [17]:
#Observamos los tipos de datos de cada columna.
df_ataques.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4335 entries, 0 to 6215
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             4335 non-null   int64
 1   type             4335 non-null   object
 2   country          4335 non-null   object
 3   age              4335 non-null   float64
 4   species_         4335 non-null   object
 5   fecha_limpia     4335 non-null   object
 6   fatal            4335 non-null   object
 7   sex              4335 non-null   object
 8   latitud          4335 non-null   float64
 9   longitud         4335 non-null   float64
 10  country2         4335 non-null   object
 11  fatal_N          4335 non-null   int64
 12  fatal_Unknown    4335 non-null   int64
 13  fatal_Y          4335 non-null   int64
 14  fatal_N.1        4335 non-null   int64
 15  fatal_Unknown.1  4335 non-null   int64
 16  fatal_Y.1        4335 non-null   int64
 17  species_.1       4335 non-null   int64
 18  fecha_limpia.1   4335 non-null   int64
 19  type.1           4335 non-null   int64
 20  age_NORM         4335 non-null   float64
dtypes: float64(4), int64(10), object(7)
memory usage: 745.1+ KB

In [35]:
try:
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1',database='tiburones')
    print('te has conectado')
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR or err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Something is wrong with your user name or password or data base does not exist please confirm your data access")
    else:
        print(err)
mycursor=cnx.cursor()
try:
    mycursor.execute("""CREATE TABLE IF NOT EXISTS `tabla_ataques` (
                            `reg_number` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
                            `year` INT NOT NULL,
                            `type` VARCHAR(200) NOT NULL,
                            `country` VARCHAR(200) NOT NULL,
                            `age` INT NOT NULL,
                            `species_` VARCHAR(200) NOT NULL,
                            `fecha_limpia` VARCHAR(200) NOT NULL,
                            `fatal` VARCHAR(200) NOT NULL,
                            `sex` VARCHAR(200) NOT NULL,
                            `latitud` DECIMAL NOT NULL,
                            `longitud` DECIMAL NOT NULL,
                            `country2` VARCHAR(200) NOT NULL,
                            `fatal_N` INT NOT NULL,
                            `fatal_Unknown` INT NOT NULL,
                            `fatal_Y` INT NOT NULL,
                            `fatal_N.1` INT NOT NULL,
                            `fatal_Unknown.1` INT NOT NULL,
                            `fatal_Y.1` INT NOT NULL,
                            `species_.1` INT NOT NULL,
                            `fecha_limpia.1` INT NOT NULL,
                            `type.1` INT NOT NULL,
                            `age_NORM` DECIMAL NOT NULL
                            ;""")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

cnx.close()

te has conectado
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 23
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 23

In [36]:
df_clima.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 61 columns):
 #   Column                                                                                      Non-Null Count  Dtype
---  ------                                                                                      --------------  -----
 0   country                                                                                     5 non-null      object
 1   wind_spe_0    950mb
0    950mb
0    950mb
0    950mb
0    950mb
Name: layer, dtype: object  5 non-null      float64
 2   wind_spe_0    900mb
0    900mb
0    900mb
0    900mb
0    900mb
Name: layer, dtype: object  5 non-null      float64
 3   wind_spe_0    850mb
0    850mb
0    850mb
0    850mb
0    850mb
Name: layer, dtype: object  5 non-null      float64
 4   wind_spe_0    800mb
0    800mb
0    800mb
0    800mb
0    800mb
Name: layer, dtype: object  5 non-null      float64
 5   wind_spe_0    750mb
0    750mb
0    750mb
0    750mb
0    750mb
Name: layer, dtype: object  5 non-null      float64
 6   wind_spe_0    700mb
0    700mb
0    700mb
0    700mb
0    700mb
Name: layer, dtype: object  5 non-null      float64
 7   wind_spe_0    650mb
0    650mb
0    650mb
0    650mb
0    650mb
Name: layer, dtype: object  5 non-null      float64
 8   wind_spe_0    600mb
0    600mb
0    600mb
0    600mb
0    600mb
Name: layer, dtype: object  5 non-null      float64
 9   wind_spe_0    550mb
0    550mb
0    550mb
0    550mb
0    550mb
Name: layer, dtype: object  5 non-null      float64
 10  wind_spe_0    500mb
0    500mb
0    500mb
0    500mb
0    500mb
Name: layer, dtype: object  5 non-null      float64
 11  wind_spe_0    450mb
0    450mb
0    450mb
0    450mb
0    450mb
Name: layer, dtype: object  5 non-null      float64
 12  wind_spe_0    400mb
0    400mb
0    400mb
0    400mb
0    400mb
Name: layer, dtype: object  5 non-null      float64
 13  wind_spe_0    350mb
0    350mb
0    350mb
0    350mb
0    350mb
Name: layer, dtype: object  5 non-null      float64
 14  wind_spe_0    300mb
0    300mb
0    300mb
0    300mb
0    300mb
Name: layer, dtype: object  5 non-null      float64
 15  wind_spe_0    250mb
0    250mb
0    250mb
0    250mb
0    250mb
Name: layer, dtype: object  5 non-null      float64
 16  wind_spe_0    200mb
0    200mb
0    200mb
0    200mb
0    200mb
Name: layer, dtype: object  5 non-null      float64
 17  wind_dir_0    200mb
0    200mb
0    200mb
0    200mb
0    200mb
Name: layer, dtype: object  5 non-null      float64
 18  wind_dir_0    250mb
0    250mb
0    250mb
0    250mb
0    250mb
Name: layer, dtype: object  5 non-null      float64
 19  wind_dir_0    300mb
0    300mb
0    300mb
0    300mb
0    300mb
Name: layer, dtype: object  5 non-null      float64
 20  wind_dir_0    350mb
0    350mb
0    350mb
0    350mb
0    350mb
Name: layer, dtype: object  5 non-null      float64
 21  wind_dir_0    400mb
0    400mb
0    400mb
0    400mb
0    400mb
Name: layer, dtype: object  5 non-null      float64
 22  wind_dir_0    450mb
0    450mb
0    450mb
0    450mb
0    450mb
Name: layer, dtype: object  5 non-null      float64
 23  wind_dir_0    500mb
0    500mb
0    500mb
0    500mb
0    500mb
Name: layer, dtype: object  5 non-null      float64
 24  wind_dir_0    550mb
0    550mb
0    550mb
0    550mb
0    550mb
Name: layer, dtype: object  5 non-null      float64
 25  wind_dir_0    600mb
0    600mb
0    600mb
0    600mb
0    600mb
Name: layer, dtype: object  5 non-null      float64
 26  wind_dir_0    650mb
0    650mb
0    650mb
0    650mb
0    650mb
Name: layer, dtype: object  5 non-null      float64
 27  wind_dir_0    700mb
0    700mb
0    700mb
0    700mb
0    700mb
Name: layer, dtype: object  5 non-null      float64
 28  wind_dir_0    750mb
0    750mb
0    750mb
0    750mb
0    750mb
Name: layer, dtype: object  5 non-null      float64
 29  wind_dir_0    800mb
0    800mb
0    800mb
0    800mb
0    800mb
Name: layer, dtype: object  5 non-null      float64
 30  wind_dir_0    850mb
0    850mb
0    850mb
0    850mb
0    850mb
Name: layer, dtype: object  5 non-null      float64
 31  wind_dir_0    900mb
0    900mb
0    900mb
0    900mb
0    900mb
Name: layer, dtype: object  5 non-null      float64
 32  wind_dir_0    950mb
0    950mb
0    950mb
0    950mb
0    950mb
Name: layer, dtype: object  5 non-null      float64
 33  rh_0    950mb
0    950mb
0    950mb
0    950mb
0    950mb
Name: layer, dtype: object        5 non-null      float64
 34  rh_0    900mb
0    900mb
0    900mb
0    900mb
0    900mb
Name: layer, dtype: object        5 non-null      float64
 35  rh_0    850mb
0    850mb
0    850mb
0    850mb
0    850mb
Name: layer, dtype: object        5 non-null      float64
 36  rh_0    800mb
0    800mb
0    800mb
0    800mb
0    800mb
Name: layer, dtype: object        5 non-null      float64
 37  rh_0    750mb
0    750mb
0    750mb
0    750mb
0    750mb
Name: layer, dtype: object        5 non-null      float64
 38  rh_0    700mb
0    700mb
0    700mb
0    700mb
0    700mb
Name: layer, dtype: object        5 non-null      float64
 39  rh_0    650mb
0    650mb
0    650mb
0    650mb
0    650mb
Name: layer, dtype: object        5 non-null      float64
 40  rh_0    600mb
0    600mb
0    600mb
0    600mb
0    600mb
Name: layer, dtype: object        5 non-null      float64
 41  rh_0    550mb
0    550mb
0    550mb
0    550mb
0    550mb
Name: layer, dtype: object        5 non-null      float64
 42  rh_0    500mb
0    500mb
0    500mb
0    500mb
0    500mb
Name: layer, dtype: object        5 non-null      float64
 43  rh_0    450mb
0    450mb
0    450mb
0    450mb
0    450mb
Name: layer, dtype: object        5 non-null      float64
 44  rh_0    400mb
0    400mb
0    400mb
0    400mb
0    400mb
Name: layer, dtype: object        5 non-null      float64
 45  rh_0    350mb
0    350mb
0    350mb
0    350mb
0    350mb
Name: layer, dtype: object        5 non-null      float64
 46  rh_0    300mb
0    300mb
0    300mb
0    300mb
0    300mb
Name: layer, dtype: object        5 non-null      float64
 47  rh_0    250mb
0    250mb
0    250mb
0    250mb
0    250mb
Name: layer, dtype: object        5 non-null      float64
 48  rh_0    200mb
0    200mb
0    200mb
0    200mb
0    200mb
Name: layer, dtype: object        5 non-null      float64
 49  timepoint                                                                                   5 non-null      float64
 50  cloudcover                                                                                  5 non-null      float64
 51  highcloud                                                                                   5 non-null      float64
 52  midcloud                                                                                    5 non-null      float64
 53  lowcloud                                                                                    5 non-null      float64
 54  temp2m                                                                                      5 non-null      float64
 55  lifted_index                                                                                5 non-null      float64
 56  rh2m                                                                                        5 non-null      float64
 57  msl_pressure                                                                                5 non-null      float64
 58  prec_amount                                                                                 5 non-null      float64
 59  snow_depth                                                                                  5 non-null      float64
 60  wind10m.speed                                                                               5 non-null      float64
dtypes: float64(60), object(1)
memory usage: 2.5+ KB

In [ ]:
try:
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1',database='tiburones')
    print('te has conectado')
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR or err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Something is wrong with your user name or password or data base does not exist please confirm your data access")
    else:
        print(err)
mycursor=cnx.cursor()
try:
    mycursor.execute("""CREATE TABLE IF NOT EXISTS `tabla_ataques` (
                            `country` VARCHAR(200) NOT NULL,
                            `wind_spe_0    950mb\n0    950mb\n0    950mb\n0    950mb\n0    950mb\nName: layer, dtype: object` DECIMAL NOT NULL,
                            `wind_spe_0    900mb\n0    900mb\n0    900mb\n0    900mb\n0    900mb\nName: layer, dtype: object`,
                            `wind_spe_0    850mb\n0    850mb\n0    850mb\n0    850mb\n0    850mb\nName: layer, dtype: object`,
                            `wind_spe_0    800mb\n0    800mb\n0    800mb\n0    800mb\n0    800mb\nName: layer, dtype: object`,
                            `wind_spe_0    750mb\n0    750mb\n0    750mb\n0    750mb\n0    750mb\nName: layer, dtype: object`,
                            `wind_spe_0    700mb\n0    700mb\n0    700mb\n0    700mb\n0    700mb\nName: layer, dtype: object`,
                            `wind_spe_0    650mb\n0    650mb\n0    650mb\n0    650mb\n0    650mb\nName: layer, dtype: object`,
                            `wind_spe_0    600mb\n0    600mb\n0    600mb\n0    600mb\n0    600mb\nName: layer, dtype: object`,
                            `wind_spe_0    550mb\n0    550mb\n0    550mb\n0    550mb\n0    550mb\nName: layer, dtype: object`,
                            `wind_spe_0    500mb\n0    500mb\n0    500mb\n0    500mb\n0    500mb\nName: layer, dtype: object`,
                            `wind_spe_0    450mb\n0    450mb\n0    450mb\n0    450mb\n0    450mb\nName: layer, dtype: object`,
                            `wind_spe_0    400mb\n0    400mb\n0    400mb\n0    400mb\n0    400mb\nName: layer, dtype: object`,
                            `wind_spe_0    350mb\n0    350mb\n0    350mb\n0    350mb\n0    350mb\nName: layer, dtype: object`,
                            `wind_spe_0    300mb\n0    300mb\n0    300mb\n0    300mb\n0    300mb\nName: layer, dtype: object`,
                            `wind_spe_0    250mb\n0    250mb\n0    250mb\n0    250mb\n0    250mb\nName: layer, dtype: object`,
                            `wind_spe_0    200mb\n0    200mb\n0    200mb\n0    200mb\n0    200mb\nName: layer, dtype: object`,
                            `wind_dir_0    200mb\n0    200mb\n0    200mb\n0    200mb\n0    200mb\nName: layer, dtype: object`,
                            `wind_dir_0    250mb\n0    250mb\n0    250mb\n0    250mb\n0    250mb\nName: layer, dtype: object`,
                            `wind_dir_0    300mb\n0    300mb\n0    300mb\n0    300mb\n0    300mb\nName: layer, dtype: object`,
                            `wind_dir_0    350mb\n0    350mb\n0    350mb\n0    350mb\n0    350mb\nName: layer, dtype: object`,
                            `wind_dir_0    400mb\n0    400mb\n0    400mb\n0    400mb\n0    400mb\nName: layer, dtype: object`,
                            `wind_dir_0    450mb\n0    450mb\n0    450mb\n0    450mb\n0    450mb\nName: layer, dtype: object`,
                            `wind_dir_0    500mb\n0    500mb\n0    500mb\n0    500mb\n0    500mb\nName: layer, dtype: object`,
                            `wind_dir_0    550mb\n0    550mb\n0    550mb\n0    550mb\n0    550mb\nName: layer, dtype: object`,
                            `wind_dir_0    600mb\n0    600mb\n0    600mb\n0    600mb\n0    600mb\nName: layer, dtype: object`,
                            `wind_dir_0    650mb\n0    650mb\n0    650mb\n0    650mb\n0    650mb\nName: layer, dtype: object`,
                            `wind_dir_0    700mb\n0    700mb\n0    700mb\n0    700mb\n0    700mb\nName: layer, dtype: object`,
                            `wind_dir_0    750mb\n0    750mb\n0    750mb\n0    750mb\n0    750mb\nName: layer, dtype: object`,
                            `wind_dir_0    800mb\n0    800mb\n0    800mb\n0    800mb\n0    800mb\nName: layer, dtype: object`,
                            `wind_dir_0    850mb\n0    850mb\n0    850mb\n0    850mb\n0    850mb\nName: layer, dtype: object`,
                            `wind_dir_0    900mb\n0    900mb\n0    900mb\n0    900mb\n0    900mb\nName: layer, dtype: object`,
                            `wind_dir_0    950mb\n0    950mb\n0    950mb\n0    950mb\n0    950mb\nName: layer, dtype: object`,
                            `rh_0    950mb\n0    950mb\n0    950mb\n0    950mb\n0    950mb\nName: layer, dtype: object`,
                            `rh_0    900mb\n0    900mb\n0    900mb\n0    900mb\n0    900mb\nName: layer, dtype: object`,
                            `rh_0    850mb\n0    850mb\n0    850mb\n0    850mb\n0    850mb\nName: layer, dtype: object`,
                            `rh_0    800mb\n0    800mb\n0    800mb\n0    800mb\n0    800mb\nName: layer, dtype: object`,
                            `rh_0    750mb\n0    750mb\n0    750mb\n0    750mb\n0    750mb\nName: layer, dtype: object`,
                            `rh_0    700mb\n0    700mb\n0    700mb\n0    700mb\n0    700mb\nName: layer, dtype: object`,
                            `rh_0    650mb\n0    650mb\n0    650mb\n0    650mb\n0    650mb\nName: layer, dtype: object`,
                            `rh_0    600mb\n0    600mb\n0    600mb\n0    600mb\n0    600mb\nName: layer, dtype: object`,
                            `rh_0    550mb\n0    550mb\n0    550mb\n0    550mb\n0    550mb\nName: layer, dtype: object`,
                            `rh_0    500mb\n0    500mb\n0    500mb\n0    500mb\n0    500mb\nName: layer, dtype: object`,
                            `rh_0    450mb\n0    450mb\n0    450mb\n0    450mb\n0    450mb\nName: layer, dtype: object`,
                            `rh_0    400mb\n0    400mb\n0    400mb\n0    400mb\n0    400mb\nName: layer, dtype: object`,
                            `rh_0    350mb\n0    350mb\n0    350mb\n0    350mb\n0    350mb\nName: layer, dtype: object`,
                            `rh_0    300mb\n0    300mb\n0    300mb\n0    300mb\n0    300mb\nName: layer, dtype: object`,
                            `rh_0    250mb\n0    250mb\n0    250mb\n0    250mb\n0    250mb\nName: layer, dtype: object`,
                            `rh_0    200mb\n0    200mb\n0    200mb\n0    200mb\n0    200mb\nName: layer, dtype: object`,
                            `timepoint`,
                            `cloudcover`,
                            `highcloud`,
                            `midcloud`,
                            `lowcloud`,
                            `temp2m`,
                            `lifted_index`,
                            `rh2m`,
                            `msl_pressure`,
                            `prec_amount`,
                            `snow_depth`,
                            `wind10m.speed`
                            ;""")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

cnx.close()

3. **BONUS** Insertar los datos en las tablas.
📌 **Nota** Esta parte del pair es optativa y no será considerada para la evaluación.

🚨 En caso de que no tengáis los datos unidos de la sesión anterior, tenéis un csv *datos_union_clima_ataques* con todos los datos que necesitareis para este ejercicio.

**Happy coding** 🦈